In [2]:
import gwaslab as gl
import pandas as pd

In [4]:
# Load gzipped GWAS summary stats
df = pd.read_csv(
    "/mnt/hdd_1/ofgeha/galaxy-gwas-tools/Data/21001_raw.gwas.imputed_v3.both_sexes.tsv.bgz",
    sep="\t",
    compression="gzip"
)

# Split variant into CHR, POS, REF, ALT
df[['CHR', 'POS', 'REF', 'ALT']] = df['variant'].str.split(":", expand=True)
df['POS'] = df['POS'].astype(int)

In [13]:
df.columns

Index(['variant', 'minor_allele', 'minor_AF', 'low_confidence_variant',
       'n_complete_samples', 'AC', 'ytx', 'beta', 'se', 'tstat', 'pval', 'CHR',
       'POS', 'REF', 'ALT'],
      dtype='object')

In [ ]:
# 1. Create a copy and rename columns to GWASLab standard names
df_standard = df.rename(columns={
    'variant': 'SNPID',
    'CHR': 'CHR',
    'POS': 'POS',
    'ALT': 'EA',
    'REF': 'NEA',
    'minor_AF': 'EAF',  # Map your frequency directly to EAF
    'beta': 'BETA',
    'se': 'SE',
    'pval': 'P'
})

In [16]:
# 2. Load the DataFrame without specifying column mappings 
# (GWASLab will recognize SNPID, CHR, POS, EA, NEA, EAF, BETA, SE, P automatically)
mysumstats = gl.Sumstats(df_standard, 
                        #  nrows=5000, 
                         verbose=True)

mysumstats.basic_check(verbose=True)

2026/01/10 10:36:40 GWASLab v4.0.4 https://cloufield.github.io/gwaslab/
2026/01/10 10:36:40 (C) 2022-2026, Yunye He, Kamatani Lab, GPL-3.0 license, gwaslab@gmail.com
2026/01/10 10:36:40 Python version: 3.12.3 (main, Nov  6 2025, 13:44:16) [GCC 13.3.0]
2026/01/10 10:36:40 Start to initialize gl.Sumstats from pandas DataFrame ...
2026/01/10 10:36:41  -Reading columns          :
2026/01/10 10:36:41  -Renaming columns to      :
2026/01/10 10:36:41  -Current Dataframe shape : 13791467  x  15
2026/01/10 10:36:42  -Initiating a status column: STATUS ...
2026/01/10 10:36:42 #WARNING! Version of genomic coordinates is unknown for homo sapiens (build: 99)...
2026/01/10 10:36:44 Start to reorder the columns ...(v4.0.4)
2026/01/10 10:36:44  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,STATUS,EAF,BETA,SE,P,minor_allele,low_confidence_variant,n_complete_samples,AC,ytx,tstat
2026/01/10 10:36:45 Finished reordering the columns.
2026/01/10 10:36:45  -Trying to convert datatype for CHR: object -> Int64...Failed...
2026/01/10 10:36:48  -Column  : SNPID  CHR    POS   EA       NEA      STATUS EAF     BETA    SE      P       minor_allele low_confidence_variant n_complete_samples AC      ytx     tstat
2026/01/10 10:36:48  -DType   : object object int64 category category int64  float64 float64 float64 float64 object       bool                   int64              float64 float64 float64
2026/01/10 10:36:48  -Verified: T      F      T     T        T        T      T       T       T       T       NA           NA                     NA                 NA      NA      NA
2026/01/10 10:36:48 #WARNING! Columns with possibly incompatible dtypes: CHR
2026/01/10 10:36:48 #WARNING! Consider using Sumstats.fix_chr() to fix CHR dtype
2026/01/10 10:36:48  -Current Dataframe memory usage: 1489.96 MB
2026/01/10 10:36:49 Finished loading data successfully!
2026/01/10 10:36:50 Start to check SNPID/rsID ...(v4.0.4)
2026/01/10 10:36:50  -Current Dataframe shape : 13791467 x 16 ; Memory usage: 1489.96 MB
2026/01/10 10:36:50  -Checking SNPID data type...
2026/01/10 10:36:50  -Converted datatype for SNPID: object -> string
2026/01/10 10:36:50  -Checking if SNPID contains NA strings :na,NA,Na,Nan,NaN,<NA>,null,NULL,#N/A,#VALUE!,N/A,n/a,missing,...
2026/01/10 10:36:51  -Checking if SNPID is CHR:POS:NEA:EA...(separator: - ,: , _)
2026/01/10 10:37:00 Finished checking SNPID/rsID.
2026/01/10 10:37:00 Start to fix chromosome notation (CHR) ...(v4.0.4)
2026/01/10 10:37:00  -Checking CHR data type...
2026/01/10 10:37:02  -Variants with standardized chromosome notation: 13364303
2026/01/10 10:37:03  -Variants with fixable chromosome notations: 427164
2026/01/10 10:37:03  -No unrecognized chromosome notations...
2026/01/10 10:37:03  -Identifying non-autosomal chromosomes : X, Y, and MT ...
2026/01/10 10:37:03  -Identified 427164 variants on sex chromosomes...
2026/01/10 10:37:03  -Standardizing first sex chromosome chromosome notations: X to 23...
2026/01/10 10:37:06 Finished fixing chromosome notation (CHR).
2026/01/10 10:37:06 Start to fix basepair positions (POS) ...(v4.0.4)
2026/01/10 10:37:06  -Trying to convert datatype for POS: int64 -> Int64...
2026/01/10 10:37:06  -Position bound:(0 , 250,000,000)
2026/01/10 10:37:06  -No outlier variants were removed.
2026/01/10 10:37:08 Finished fixing basepair positions (POS).
2026/01/10 10:37:08 Start to fix alleles (EA and NEA) ...(v4.0.4)
2026/01/10 10:37:08  -Converted all bases to string datatype and UPPERCASE
2026/01/10 10:37:13  -All variants have valid alleles (EA and NEA are A/C/T/G, not NA, and different).
2026/01/10 10:37:26 Finished fixing alleles (EA and NEA).
2026/01/10 10:37:26 Start to perform sanity check for statistics ...(v4.0.4)
2026/01/10 10:37:26  -Comparison tolerance for floats: 1e-07
2026/01/10 10:37:27  -Checking if any columns are empty...
2026/01/10 10:37:28  -Checking if -1e-07 < EAF < 1.0000001 : removed 0 variants.
2026/01/10 10:37:28   -Examples of invalid variants(SNPID): 1:776572:C:T,1:819974:G:C,1:871173:C:T,1:871198:C:T,1:874451:C:T ...
2026/01/10 10:37:28   -Examples of invalid values (P): NA,NA,NA,NA,NA ...
2026/01/10 10:37:29  -Checking if -1e-07 < P < 1.0000001 : removed 1676 variants.
2026/01/10 10:37:29   -Examples of invalid variants(SNPID): 1:15791:C:T,1:877608:C:G,1:897032:A:G,1:899336:G:A,1:907676:A:T ...
2026/01/10 10:37:29   -Examples of invalid values (BETA): 894.616,279.71,-108.064,270.068,116.14 ...
2026/01/10 10:37:31  -Checking if -100.0000001 < BETA < 100.0000001 : removed 9906 variants.
2026/01/10 10:37:32  -Checking if -1e-07 < SE < inf : removed 0 variants.
2026/01/10 10:37:32  -Checking STATUS and converting STATUS to Int64....
2026/01/10 10:37:32  -Removed 11582 variants with bad statistics in total.
2026/01/10 10:37:32 Finished sanity check for statistics.
2026/01/10 10:37:32 Start to check data consistency across columns ...(v4.0.4)
2026/01/10 10:37:32  -Current Dataframe shape : 13779885 x 16 ; Memory usage: 1582.28 MB
2026/01/10 10:37:32  -Tolerance: 0.001 (Relative) and 0.001 (Absolute)
2026/01/10 10:37:32  -Checking if BETA/SE-derived-P is consistent with P...
2026/01/10 10:37:34   -Variants with inconsistent values were not detected.
2026/01/10 10:37:34   -Note: Minor differences are typically due to rounding.
2026/01/10 10:37:34    -If the max difference is greater than expected, please check your original sumstats.
2026/01/10 10:37:34 Finished checking data consistency across columns.
2026/01/10 10:37:34 Start to normalize indels ...(v4.0.4)
2026/01/10 10:37:34  -Number of threads/cores to use: 1
2026/01/10 10:37:34  -Number of variants to check:728
2026/01/10 10:37:34  -Chunk size:3000000
2026/01/10 10:37:34  -Processing in chunks:0
2026/01/10 10:37:36 Finished normalizing indels.
2026/01/10 10:37:36 Start to sort the genome coordinates ...(v4.0.4)
2026/01/10 10:37:49 Finished sorting coordinates.
2026/01/10 10:37:49 Start to reorder the columns ...(v4.0.4)
2026/01/10 10:37:49  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,STATUS,EAF,BETA,SE,P,minor_allele,low_confidence_variant,n_complete_samples,AC,ytx,tstat
2026/01/10 10:37:50 Finished reordering the columns.

In [17]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,STATUS,EAF,BETA,SE,P,minor_allele,low_confidence_variant,n_complete_samples,AC,ytx,tstat
0,1:69487:G:A,1,69487,A,G,9960099,0.000006,-2.715450,2.360060,0.249902,A,True,359983,4.15294,103.515,-1.150590
1,1:69569:T:C,1,69569,C,T,9960099,0.000188,-0.484284,0.423462,0.252778,C,True,359983,135.27800,3644.560,-1.143630
2,1:139853:C:T,1,139853,T,C,9960099,0.000006,-2.703560,2.360130,0.251997,T,True,359983,4.09020,101.840,-1.145510
3,1:692794:CA:C,1,692794,C,CA,9960399,0.110590,-0.016436,0.019585,0.401342,C,False,359983,79621.10000,2179000.000,-0.839228
4,1:693731:A:G,1,693731,G,A,9960099,0.115767,-0.004255,0.018507,0.818155,G,False,359983,83348.00000,2281760.000,-0.229918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13779880,X:154929412:C:T,23,154929412,T,C,9960099,0.245473,-0.016260,0.010723,0.129427,T,False,359983,176732.00000,4837480.000,-1.516370
13779881,X:154929637:CT:C,23,154929637,C,CT,9960399,0.229726,-0.027098,0.011190,0.015456,C,False,359983,165395.00000,4525550.000,-2.421510
13779882,X:154929952:CAA:C,23,154929952,C,CAA,9960399,0.239430,-0.020494,0.011278,0.069202,C,False,359983,172381.00000,4717910.000,-1.817100
13779883,X:154930230:A:G,23,154930230,G,A,9960099,0.245887,-0.016347,0.010721,0.127334,G,False,359983,177030.00000,4845680.000,-1.524700
13779884,X:154930487:T:A,23,154930487,A,T,9960099,0.019559,0.007107,0.036783,0.846790,A,False,359983,14081.80000,385739.000,0.193216

In [ ]:
mysumstats.liftover(from_build="19", to_build="38")

,NEA,STATUS,EAF,BETA,SE,P,SNPID
0,1:15791:C:T,9999999,1.000000,894.616000,1204.870000,0.457786,<NA>
1,1:69487:G:A,9999999,0.999994,-2.715450,2.360060,0.249902,<NA>
2,1:69569:T:C,9999999,0.999812,-0.484284,0.423462,0.252778,<NA>
3,1:139853:C:T,9999999,0.999994,-2.703560,2.360130,0.251997,<NA>
4,1:692794:CA:C,9999999,0.889410,-0.016436,0.019585,0.401342,<NA>
...,...,...,...,...,...,...,...
13791462,X:154929412:C:T,9999999,0.754527,-0.016260,0.010723,0.129427,<NA>
13791463,X:154929637:CT:C,9999999,0.770274,-0.027098,0.011190,0.015456,<NA>
13791464,X:154929952:CAA:C,9999999,0.760570,-0.020494,0.011278,0.069202,<NA>
13791465,X:154930230:A:G,9999999,0.754113,-0.016347,0.010721,0.127334,<NA>
13791466,X:154930487:T:A,9999999,0.980441,0.007107,0.036783,0.846790,<NA>

In [18]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,STATUS,EAF,BETA,SE,P,minor_allele,low_confidence_variant,n_complete_samples,AC,ytx,tstat
0,1:69487:G:A,1,69487,A,G,9960099,0.000006,-2.715450,2.360060,0.249902,A,True,359983,4.15294,103.515,-1.150590
1,1:69569:T:C,1,69569,C,T,9960099,0.000188,-0.484284,0.423462,0.252778,C,True,359983,135.27800,3644.560,-1.143630
2,1:139853:C:T,1,139853,T,C,9960099,0.000006,-2.703560,2.360130,0.251997,T,True,359983,4.09020,101.840,-1.145510
3,1:692794:CA:C,1,692794,C,CA,9960399,0.110590,-0.016436,0.019585,0.401342,C,False,359983,79621.10000,2179000.000,-0.839228
4,1:693731:A:G,1,693731,G,A,9960099,0.115767,-0.004255,0.018507,0.818155,G,False,359983,83348.00000,2281760.000,-0.229918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13779880,X:154929412:C:T,23,154929412,T,C,9960099,0.245473,-0.016260,0.010723,0.129427,T,False,359983,176732.00000,4837480.000,-1.516370
13779881,X:154929637:CT:C,23,154929637,C,CT,9960399,0.229726,-0.027098,0.011190,0.015456,C,False,359983,165395.00000,4525550.000,-2.421510
13779882,X:154929952:CAA:C,23,154929952,C,CAA,9960399,0.239430,-0.020494,0.011278,0.069202,C,False,359983,172381.00000,4717910.000,-1.817100
13779883,X:154930230:A:G,23,154930230,G,A,9960099,0.245887,-0.016347,0.010721,0.127334,G,False,359983,177030.00000,4845680.000,-1.524700
13779884,X:154930487:T:A,23,154930487,A,T,9960099,0.019559,0.007107,0.036783,0.846790,A,False,359983,14081.80000,385739.000,0.193216

In [19]:
! wget https://s3-us-west-2.amazonaws.com/human-pangenomics/T2T/CHM13/assemblies/chain/v1_nflo/grch38-chm13v2.chain

--2026-01-10 10:39:53--  https://s3-us-west-2.amazonaws.com/human-pangenomics/T2T/CHM13/assemblies/chain/v1_nflo/grch38-chm13v2.chain
Resolving s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)... 3.5.79.179, 52.218.246.64, 52.92.240.144, ...
Connecting to s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)|3.5.79.179|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6288201 (6.0M) [binary/octet-stream]
Saving to: ‘grch38-chm13v2.chain’

grch38-chm13v2.chai 100%[===================>]   6.00M  3.74MB/s    in 1.6s

2026-01-10 10:39:55 (3.74 MB/s) - ‘grch38-chm13v2.chain’ saved [6288201/6288201]

In [20]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,STATUS,EAF,BETA,SE,P,minor_allele,low_confidence_variant,n_complete_samples,AC,ytx,tstat
0,1:69487:G:A,1,69487,A,G,9960099,0.000006,-2.715450,2.360060,0.249902,A,True,359983,4.15294,103.515,-1.150590
1,1:69569:T:C,1,69569,C,T,9960099,0.000188,-0.484284,0.423462,0.252778,C,True,359983,135.27800,3644.560,-1.143630
2,1:139853:C:T,1,139853,T,C,9960099,0.000006,-2.703560,2.360130,0.251997,T,True,359983,4.09020,101.840,-1.145510
3,1:692794:CA:C,1,692794,C,CA,9960399,0.110590,-0.016436,0.019585,0.401342,C,False,359983,79621.10000,2179000.000,-0.839228
4,1:693731:A:G,1,693731,G,A,9960099,0.115767,-0.004255,0.018507,0.818155,G,False,359983,83348.00000,2281760.000,-0.229918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13779880,X:154929412:C:T,23,154929412,T,C,9960099,0.245473,-0.016260,0.010723,0.129427,T,False,359983,176732.00000,4837480.000,-1.516370
13779881,X:154929637:CT:C,23,154929637,C,CT,9960399,0.229726,-0.027098,0.011190,0.015456,C,False,359983,165395.00000,4525550.000,-2.421510
13779882,X:154929952:CAA:C,23,154929952,C,CAA,9960399,0.239430,-0.020494,0.011278,0.069202,C,False,359983,172381.00000,4717910.000,-1.817100
13779883,X:154930230:A:G,23,154930230,G,A,9960099,0.245887,-0.016347,0.010721,0.127334,G,False,359983,177030.00000,4845680.000,-1.524700
13779884,X:154930487:T:A,23,154930487,A,T,9960099,0.019559,0.007107,0.036783,0.846790,A,False,359983,14081.80000,385739.000,0.193216

In [21]:
mysumstats.liftover(from_build="38", to_build="13",chain_path="./grch38-chm13v2.chain")

2026/01/10 10:40:08 Start to perform liftover ...(v4.0.4)
2026/01/10 10:40:08  -Using provided chain file: ./grch38-chm13v2.chain
2026/01/10 10:40:10  -Converting variants with status code xxx0xxx: 13,779,885
2026/01/10 10:40:11  -Target build: 13
2026/01/10 10:40:11  -Input positions are 1-based
2026/01/10 10:40:11  -Output positions will be 1-based
2026/01/10 10:41:41  -Mapped: 13640038 variants
2026/01/10 10:41:41  -Unmapped: 139847 variants
2026/01/10 10:41:41  -Examples of unmapped variants:
2026/01/10 10:41:41    SNPID=1:69487:G:A | CHR=1 | POS=69487 | STATUS=9960099
2026/01/10 10:41:41    SNPID=1:69569:T:C | CHR=1 | POS=69569 | STATUS=9960099
2026/01/10 10:41:41    SNPID=1:139853:C:T | CHR=1 | POS=139853 | STATUS=9960099
2026/01/10 10:41:41    SNPID=1:905017:T:C | CHR=1 | POS=905017 | STATUS=9960099
2026/01/10 10:41:41    SNPID=1:909221:T:C | CHR=1 | POS=909221 | STATUS=9960099
2026/01/10 10:41:49  -Removed 139847 unmapped variants
2026/01/10 10:41:49 Start to fix chromosome notation (CHR) ...(v4.0.4)
2026/01/10 10:41:49  -Current Dataframe shape : 13640038 x 16 ; Memory usage: 1553.27 MB
2026/01/10 10:41:49  -Checking CHR data type...
2026/01/10 10:41:50  -Variants with standardized chromosome notation: 13217569
2026/01/10 10:41:52  -Variants with fixable chromosome notations: 422469
2026/01/10 10:41:52  -No unrecognized chromosome notations...
2026/01/10 10:41:53  -Identifying non-autosomal chromosomes : X, Y, and MT ...
2026/01/10 10:41:53  -Identified 422469 variants on sex chromosomes...
2026/01/10 10:41:53  -Standardizing first sex chromosome chromosome notations: X to 23...
2026/01/10 10:41:56 Finished fixing chromosome notation (CHR).
2026/01/10 10:41:56 Start to fix basepair positions (POS) ...(v4.0.4)
2026/01/10 10:41:56  -Trying to convert datatype for POS: Int64 -> Int64...
2026/01/10 10:41:57  -Position bound:(0 , 250,000,000)
2026/01/10 10:41:57  -No outlier variants were removed.
2026/01/10 10:42:00  -Removed variants with bad positions: 0
2026/01/10 10:42:00 Finished fixing basepair positions (POS).
2026/01/10 10:42:00 Finished liftover.

In [ ]:
mysumstats.data